#country-desc-content {
    font-size: 1rem;
    line-height: 1.5rem;  
}

#country-desc-content.collapse:not(.show) {
    display: block;
    height: 4.5rem;
    overflow: hidden;
}

#country-desc-content.collapsing {
    height: 4.5rem;
}

a#toggle-show-more.collapsed::after {
    content: '+ Show More';
}

a#toggle-show-more:not(.collapsed)::after {
    content: '- Show Less';
}

.flag-container-lg {
    height: 7.7rem;
}

.flag-container-sm {
    height: 2.7rem;
}

.card-img {
    object-fit:cover;
    height:200px;
}

/* BARRE DE FILTRE */
#filter-icon {
    position: absolute;
    right: 0.5em;
    top: 62%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    background: none;
    opacity: 0.6;
}
