body {
    display: flex;
    flex-direction: row;
    margin: 0
}

#images {
    background-color: indigo;
    width: 25%;
}

#contenu {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0em 1em;
}

#logo-origine {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#logo-origine img {
    width: 25%;
}
#origine {
    display: flex;
    flex-direction: column;
}

#plat-description {
    display: flex;
    flex-direction: column;
}
#nom-plat {
    font-weight: bold;
    font-size:2em;
    margin-top: 0.5em;
}

#tableaux {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 1em 0em;
}

#tab-gauche {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 0.5em;

}
#type-plat {
    background-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 0.5em;
}
#ingredient {
    background-color: rgba(0, 0, 0, 0.15);
}

#tab-droite {
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.15);
    width: 50%;
    margin-left: 0.5em;
}

#propositions {
    display: flex;
    flex-direction: column;
}
#propositions-label {
    font-weight: bold;
}
#barres-propositions {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.15);
}


