#country-desc-content {
    font-size: 1rem;
    line-height: 1.5rem;  
}

#country-desc-content.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}

#country-desc-content.collapsing {
    height: 3rem;
}

#country-desc a#toggle-show-more.collapsed::after {
    content: '+ Show More';
}

#country-desc a#toggle-show-more:not(.collapsed)::after {
    content: '- Show Less';
}