#page-body {
    display: flex;
    flex-direction: row;
}

#images {
    background-color: rgba(0, 0, 0, 0.1); 
    width: 40%;
}

/*#images img {
    display: block;
    max-width:100%;
    max-height:25%;
    width: auto;
    height: auto;
}*/


#contenu {
    display: flex;
    flex-direction: column; 
    width: 60%;
    margin: 0em 1em;
    box-sizing: border-box;
}

#nom-origine {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 1em 0em;
}
#nom-plat {
    border-bottom: solid #4C90F6 3px;  
}
#origine {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;  
    padding: 0.25em 0.75em; 
    height: fit-content;
}
#origine-label {
    font-weight: bold;
    margin-right: 0.5em;
}

#description-plat {
    line-height: 1.5em;  
}
#description-plat.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}
  
#description-plat.collapsing {
    height: 3rem;
}

#description a.collapsed::after {
    content: '+ Show More';
}

#description a:not(.collapsed)::after {
    content: '- Show Less';
}

#tableaux {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em 0em;
}
#tab-gauche, #tab-droite {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#tab-gauche {
    margin-right: 0.5em;
}
#tab-droite {
    margin-left: 0.5em;
}
.tab-panel {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.5em 1em;
    border-radius: 0.5em; 
}

#ingredient {
    background-color: rgba(251, 196, 4, 0.4);
}
#ingredient ul {
    margin-top: inherit;
    padding-left: 1.5em;
    margin-bottom: 0;
}
#ingredient ul li {
    list-style: square;
}
#type-plat {
    background-color: rgba(237, 78, 61, 0.4);
    margin-bottom: 1em;
}
#nutrition {
    background-color: rgba(60, 177, 94, 0.4);
}

#barres-plats-similaires {
    display: flex;
    flex-direction: row;
}

.recipe {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    padding: 0.25em 0.75em;
    height: fit-content;
    width: 50%;
}
