body {
    display: flex;
    flex-direction: column;
}

.header {
    flex-direction: row;
    align-items: center;
}

.header input {
    flex-grow: 2;
}

.header .foodle_logo {
    background-color: red;
}