.food-img {
    object-fit: cover;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}

/*white-space: nowrap;*/
.card-text {
    height: 6rem;
    overflow: hidden;
    text-overflow: fade(10px);
}

.card {
    box-shadow: 0px 1px 5px #9D9C9C;
    border-radius: 15px;
    border: 0px solid #9D9C9C;
    background-color: white;
    transition-duration: 700ms;
}
