/* 
 * Slider CSS
*/

/* Required CSS Rules */
.slider, .carousel {
    width: auto;
}

.slider .carousel-item {
    width: 25%;
}
.slider .carousel-item.active {
    display: inline-block;
    margin-left: 0em;
    margin-right: 0em;
} 
/* End required CSS */

/* Example page CSS */

.slider .carousel-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;

}
.slider .carousel-item {
    margin-bottom: 50px;
}

.slider .carousel-item .card {
    height: auto;
}

.slider .carousel-item.active:hover {
    cursor: pointer;
}
.slider .carousel-item.active.focused {
    color: black;
    font-weight: bold;
}
.slider .carousel-item span {
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 0;
}
.slider .carousel-control-next:hover,
.slider .carousel-control-prev:hover,
.slider .carousel-control-next:focus,
.slider .carousel-control-prev:focus,
.slider .carousel-control-next,
.slider .carousel-control-prev {
    
    background-image: none !important;
    color: black;
    top: 36%;
    transform: translateY(-50%);
    cursor: pointer;
    text-decoration: none;
    font-size: 5em;
}

.slider .carousel-control-next,
.slider .carousel-control-prev {
    opacity: .5;
}

.slider .carousel-control-next:hover,
.slider .carousel-control-prev:hover,
.slider .carousel-control-next:focus,
.slider .carousel-control-prev:focus {
    opacity: .8;
}

a:link {
    text-decoration: none;
}

.slider .carousel-indicators {
    bottom: -30px;
    z-index: 3 !important;
}
.slider .carousel-indicators li {
    background-color: black !important;

}
.slider .carousel-indicators li.active {
    background-color: black !important;
}

.slider h5 {
    font-size: 13pt;
}
